tr
  td
    = access_right.system_user_role_id

  td
    = link_to t('dm_links.edit'), access_rights_d.edit_access_right_path(access_right)
    = link_to t('dm_links.delete'), access_right, method: :delete, data: { confirm: "#{t('dm_messages.removal_confirmation')}" }