
= form_for @item do |f|

  div
    = f.label :system_user_role_id, :system_user_role_id
    = f.collection_select :system_user_role_id, SystemMainItemsD::SystemUserRole.all, :id, :name, {:include_blank => false}
    - if !@item.nil?
      - if @item.errors[:system_user_role_id].count > 0
        .error
          = @item.errors[:system_user_role_id].first

  = render_dual_list_box(@param_name, @fields[:module_rights] ,@item)

  = f.submit t('dm_links.save')