html
  head
    title
      | AccessRightsD
    = stylesheet_link_tag    "access_rights_d/application", media: "all"
    = javascript_include_tag "access_rights_d/application"
    = csrf_meta_tags
  body
    = yield